/exam/tmp_sessions/
examportal/tmp_sessions/*
exam/tmp_sessions/sess_6e7bbe1a718901c327c6804aa8d29002
exam/tmp_sessions/sess_12fe0cdb4d97a96f35a1ed884ac95bde
exam/tmp_sessions/sess_80j6nkfefa3qr49i2gsbabtsur
exam/tmp_sessions/sess_3875d1a25728faa65509d931cd3a29c5
exam/tmp_sessions/sess_8585af6a4bd8b33c7ce1863b3d138ed8
exam/tmp_sessions/sess_835522a83a000f2a2a4c88d8317b1830
exam/tmp_sessions/sess_16294979ddd3c2e7f5cd764dde7e8484
exam/tmp_sessions/sess_a1a1e4f12e78194595246afbe4f3c080
exam/tmp_sessions/sess_bb7cad603f166b96eaf395984a17d2df
exam/tmp_sessions/sess_bbarggcibjdv0qs6l2gsv2q4h8
exam/tmp_sessions/sess_c94a0fca32d47e396e82da5b06deee1c
exam/tmp_sessions/sess_cb0bc0ed48330e237e2dadfd4a33e67b
exam/tmp_sessions/sess_d32cfb5c0729627e82261c6dbff2b255
exam/tmp_sessions/sess_d73666c02aef9bfe7a7fbafa8b11baa1
exam/tmp_sessions/sess_dqa4lbac38e4hcb7pkr7qkanoe
exam/tmp_sessions/sess_f7mi8gel5ifce63ioa0ccdh2k0
exam/tmp_sessions/sess_f20ef34ee14c2d1a2c1b9b14e9305942
exam/tmp_sessions/sess_fbcnc9i7fumc19dooule6f2o50
exam/tmp_sessions/sess_80j6nkfefa3qr49i2gsbabtsur
exam/tmp_sessions/sess_bbarggcibjdv0qs6l2gsv2q4h8
exam/tmp_sessions/sess_dqa4lbac38e4hcb7pkr7qkanoe
exam/tmp_sessions/sess_f7mi8gel5ifce63ioa0ccdh2k0
exam/tmp_sessions/sess_fbcnc9i7fumc19dooule6f2o50
